<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <jpa:repositories base-package="com.netcracker.keeptrack.repository"/>
    <!--<tx:annotation-driven proxy-target-class="true" transaction-managerId="transactionManager"/>-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <!--<property name="showSql" value="true"/>-->
                <property name="generateDdl" value="true"/>
            </bean>
        </property>
        <!-- spring based scanning for entity classes-->
        <property name="packagesToScan" value="com.netcracker.keeptrack"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.event.merge.entity_copy_observer">allow</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
                <!--<prop key="hibernate.format_sql">true</prop>-->
                <prop key="hibernate.hbm2ddl.import_files">
                    db_scripts/projects.sql,
                    db_scripts/employees.sql,
                    db_scripts/managers.sql,
                    db_scripts/sprints.sql,
                    db_scripts/tasks.sql
                </prop>
                <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
                <!--<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>-->
            </props>
        </property>
    </bean>


    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"/>

    <beans profile="postgres">
        <context:property-placeholder location="classpath:db_props/postgres.properties" system-properties-mode="OVERRIDE"/>
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="org.postgresql.Driver"/>
            <property name="url" value="jdbc:postgresql://localhost:5432/keeptrack"/>
            <property name="username" value="postgres"/>
            <property name="password" value="root"/>
        </bean>
    </beans>

    <beans profile="hsql">
        <jdbc:embedded-database id="dataSource" type="HSQL">
            <jdbc:script location="classpath:db_scripts/projects.sql" />
            <jdbc:script location="classpath:db_scripts/employees.sql" />
            <jdbc:script location="classpath:db_scripts/managers.sql" />
            <jdbc:script location="classpath:db_scripts/sprints.sql" />
            <jdbc:script location="classpath:db_scripts/tasks.sql" />
        </jdbc:embedded-database>
    </beans>
</beans>