<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Enable annotation use -->
    <!-- Validation messages charset switch will work correctly only with
    this annotation instead of <mvc:annotation-driven /> -->
    <!--<mvc:annotation-driven validator="validator"/>-->

    <!-- Component scan in web -->
    <context:component-scan base-package="com.netcracker.keeptrack.web" />

    <mvc:annotation-driven />

    <!-- Default resolver config -->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>-->

    <!-- Apache tiles resolver config -->
    <bean class="org.springframework.web.servlet.view.tiles3.TilesViewResolver"/>

    <bean class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/views/tiles.xml</value>
            </list>
        </property>
    </bean>

    <!--  All resources inside folder src/main/webapp/resources are mapped so they can be referred to inside JSP files -->
    <mvc:resources mapping="/resources/**" location="/resources/"/>
</beans>